body {
  font: 400 14px/121% "Poppins-Regular", Arial, Sans-Serif;
}

h1 {
  font: 600 32px/121% "Poppins-Semibold", Arial, Sans-Serif;
}

h2 {
  font: 600 28px/121% "Poppins-Semibold", Arial, Sans-Serif;
}

h3 {
  font: 600 20px/121% "Poppins-Semibold", Arial, Sans-Serif;
}

h4 {
  font: 400 16px/121% "Poppins-Regular", Arial, Sans-Serif;
}
