.notification {
  &-btns {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }
  &-btn {
    display: block;
    padding-block: 15px;
    padding-inline: 30px;
    background: #ccc;
    position: relative;

    &::after {
      content: "3";
      width: 20px;
      background: #bfb321;
      color: #fff;
      position: absolute;
      top: -6px;
      right: -6px;
      border-radius: 50%;
      text-align: center;
      padding: 2px 0;
    }

    &.primary-btn {
      &::after {
        content: "7";
      }
    }
  }
}
