.accordion {
  max-width: 500px;
  overflow: hidden;

  .tab {
    margin-bottom: 4px;
    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
      &:checked {
        ~ .tab-content {
          max-height: 60px;
        }
        + .tab-label::before {
          content: "-";
        }
      }
    }

    &-label {
      display: flex;
      color: white;
      background: #3498db;
      cursor: pointer;
      padding: 16px;
      gap: 10px;

      &::before {
        content: "+";
        width: 16px;
        height: 16px;
        text-align: center;
        transition: all 0.35s;
      }
    }

    &-content {
      max-height: 0;
      overflow: hidden;
      transition: all 0.35s;
      border: 1px solid #3498db;

      p {
        padding: 1rem;
      }
    }
  }
}
