.dynamic-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dynamic-list li {
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dynamic-list li:hover {
  background-color: #eee;
}

.dynamic-list li:focus,
.dynamic-list li:active {
  background-color: #c10606;
  color: #fff;
}

.dynamic-list li:focus::after,
.dynamic-list li:active::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
