input[type="number"] {
  width: 150px;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
}

input[type="number"]:invalid {
  border-color: #ff0000;
  background-color: #ff0000;
  color: #fff;
}